trigger:
- main

stages:
- stage: Build
  displayName: 'Build Stage'
  jobs:
  - job: BuildJob
    steps:
    - script: |
        echo "Building..."
        sleep 20

- stage: Test
  displayName: 'Test Stage'
  jobs:
  - job: TestJob
    steps:
    - script: |
        echo "Testing..."
        sleep 20
