stages:
- stage: Build
  dependsOn: []
  jobs:
  - job: BuildJob
    steps:
    - script: echo "Build"

- stage: Test
  dependsOn: Build
  jobs:
  - job: TestJob
    steps:
    - script: |
        echo "TestJob..."
        sleep 10


- stage: Deploy
  dependsOn: Build  
  jobs:
  - job: DeployJob
    steps:  
    - script: |
       echo "Deploy"
       sleep 10
